{%extends "base.html"%} {%block content%}

<section class="patient-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-top text-center">
          <h2>Register New Nurse</h2>
          <!-- <p>Green above he cattle god saw day multiply under fill in the cattle fowl a all, living, tree word link available in the service for subdue fruit.</p> -->
        </div>
      </div>
    </div>
    <div class="">
      <div class="align-self-center">
        <div class="appointment-form text-center mt-5 mt-lg-0">
          <h3 class="mb-5">REGISTER NOW</h3>
          <form
            action="{{ url_for('product.add_product') }}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <input
                type="text"
                id="product-name"
                name="name"
                placeholder="Your Name"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Name'"
                required
              />
            </div>
            <div class="form-group">
                <textarea 
                id="product-description"
              placeholder="Nurse Description"
              name="short_desc"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Short Description'">
                </textarea>
            </div>
            <div class="form-group">
                <textarea 
                id="description"
              placeholder="More Details"
              name="description"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'More Details'">
                </textarea>
            </div>
            <div class="form-group">
              <input
              id="category"
              type="text"
              placeholder="Product Name"
              name="category"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Category'"
                required
              />
            </div>
            <div class="form-group">
              <input
              id="product-price"
              type="number"
              name="price"
              placeholder="Per Day Cost"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Per Day Cost'"
                required
              />
            </div>
            <div class="form-group">
                <input
                id="product-image"
                type="file"
                name="img"
                accept=".jpg,.jpeg,.png"
                />
            </div>
            <button type="submit" class="template-btn">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
