{%extends "base.html"%} {%block content%}

<section class="specialist-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>{{ category }}</h2>
                    <!-- <p>Green above he cattle god saw day multiply under fill in the cattle fowl a all, living, tree word
                        link available in the service for subdue fruit.</p> -->
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                {% for product in products %}
                <div class="col">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{{ product['img'] }}" alt="{{ product['name'] }}" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>{{ product['name'] }}</h3>
                                <h6>Per day cost : ₹{{ product['price'] }}</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <a href="{{ url_for('product.product_info', productid=product['_id']) }}">
                                    <button  class="template-btn">Book Now</button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{%endblock%}