{%extends "base.html"%} {%block content%}


<section class="patient-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-top text-center">
            <h2>health is wealth</h2>
            <!-- <p>Green above he cattle god saw day multiply under fill in the cattle fowl a all, living, tree word link available in the service for subdue fruit.</p> -->
          </div>
        </div>
      </div>
      <div class="">
        <div class="align-self-center">
          <div class="appointment-form text-center mt-5 mt-lg-0">
            <h3 class="mb-5">LOGIN</h3>
            <form action="{{ url_for('auth.login') }}" method="post">
              <div class="form-group">
                <input
                type="email"
                id="email"
                name="email"
                  placeholder="Your Email"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email'"
                  required
                />
              </div>
              <div class="form-group">
                <input
                type="password"
                id="password"
                name="passwd"
                  placeholder="Your Password"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Password'"
                  required
                />
              </div>
              <button type="submit" class="template-btn">
                  Register
              </button>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if err %}
  <script>
    alert("{{ err }}");
  </script>
  {% endif %}
{%endblock%}
