{%extends "base.html"%} {%block content%}

<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1> {{ user['name'] }}</h1>
               
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container">
        <div class="mb-5">
            <p class="lead fw-normal mb-1">All Orders</p>
            {% for cart in user['previous_orders'] %}
            <div class="p-4" style="background-color: #f8f9fa;">
                <p><span class="font-medium">Order #:</span> {{ cart['cartid'] }}</p>
                <p><span class="font-medium">Date:</span> {{ cart['time'] }}</p>
                <p><span class="font-medium">Total:</span> ₹{{ cart['total'] }}</p>
                <p><span class="font-medium">Status:</span> Delivered</p>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</section>

{%endblock%}
